name: BaldomeroPedroCV

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install RenderCV
        run: |                                        
          pip install "rendercv[full]==2.6"

      - name: Render CV
        run: |
          rendercv render BaldomeroPedroCV.yaml

      - name: List files
        run: |
          ls -R
          
      - name: Upload PDF
        uses: actions/upload-artifact@v4
        with:
          name: CV
          path: rendercv_output/*.pdf
